
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<body>
    <h1>Create Room</h1>
    <form method="POST" action="{% url 'chats:room_create' %}">
        {% csrf_token %}
        <label for="roomName">방 제목:</label>
        <input type="text" id="roomName" name="name" required>
        <button type="submit">생성하기</button>
    </form>
</body>
{% else %}
<div class="container">
    <div class="alert alert-info d-flex justify-content-between" role="alert">
        <h5>로그인 하세요</h5>
        <a href="/accounts/logout/">
            <button type="button" class="btn btn-light"><a href="{% url 'login' %}">로그인</a></button>
        </a>
    </div>
</div>  
{% endif %}
{% endblock %}
