<script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
<script defer>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('e9ea7c55c7f8196ccac6', {
      cluster: 'ap3'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('{{room_name}}', function(data) {
    var div = document.createElement("div");
    div.innerHTML = "<b>" + data.userID + "</b> : " + data.message;

    document.querySelector("#my_input").value = "";
    document.querySelector("#inner_chatbox").appendChild(div);
    scrollToBottom();
    
    });

    const send_message = (data) => {
        const options = {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(data),
};

fetch('/send_message', options)
  .then(response => response.json())
  .then(responseData => {
    console.log('Response:', responseData);
    // Process the response data here
  })
  .catch(error => {
    console.error('Error:', error);
    // Handle the error
  });

    }
  </script>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="alert alert-info d-flex justify-content-between" role="alert">
                <h5>ROOM : {{room_name}}</h5>
                <a href="/accounts/logout/">
                <button type="button" class="btn btn-light">로그아웃</button>
                </a>
            </div>
            <form>
                <div class="form-group" id="scrollContainer"  style="max-height:25rem; overflow-y: scroll;">
                    <div class="jumbotron" id="chatbox" style="padding:2rem 0; margin-bottom: -2rem;">
                    {% if messages %}
                    {% for message in messages %}
                        <b>{{ message.user.userID }}</b> : {{ message.content }}<br>
                        {% endfor %}
                        <div class="previousChatting" style=" display:flex; justify-content:center;">
                        <p style="color: black; font-weight: bold; font-family: serif;"> ㅡ Previous Chatting ㅡ</p>
                        </div>
                    </div><div id="inner_chatbox"></div>
                </div>
                {% else %}
                <div class="jumbotron" id="chatbox"></div>
                <b>아직 메세지가 없습니다~</b>
                    {% endif %}

                </div>

                <br/>
                <div class="form-group" style="width: 100%;">
                    <input class="form-control" placeholder="채팅을 입력하세요!" id="my_input" type="text" required></br>
                </div>
                <br/>
                <input class="btn btn-primary btn-lg btn-block" id="submit_button" type="button" value="Send">
                <input type="text" style="display:none;"/>
                자동submit을 방지하는 display : none input박스
            </form>
        </div>
    </div>
</div>
{{room_name|json_script:"room_name"}}
<script defer>

const chatbox = document.querySelector("#scrollContainer");

function scrollToBottom() {
    chatbox.scrollTop = chatbox.scrollHeight;
}

    scrollToBottom();

    const roomName= JSON.parse(document.getElementById('room_name').textContent);
    const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/"+ roomName +"/");

    chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
    };
    chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
    };


    document.querySelector("#my_input").focus();


    document.querySelector("#my_input").onkeyup = function (e) {

    if (e.keyCode == "13") {
        e.preventDefault();
        {/* document.querySelector("#submit_button").onkeyup() */}
        {/* sendChat(); */}
        let messageInput = document.querySelector(
        "#my_input").value;

            console.log(messageInput);
    if(messageInput.length == 0)
        {
            {/* alert("채팅을 입력하세요!"); */}

        }
        else
        {

            send_message({ message: messageInput, userID : "{{request.user.userID}}",room_name:"{{room_name}}"});
        }
    }
    };

    function sendChat() {
    
        let messageInput = document.querySelector(
        "#my_input").value;

    if(messageInput.length == 0)
        {
            alert("채팅을 입력하세요!");

        }
        else
        {
            send_message({ message: messageInput, userID : "{{request.user.userID}}",room_name:"{{room_name}}"});
        }
    };

    setTimeout(() => {
        document.querySelector("#submit_button").onclick = function (e) {
        sendChat();
    };
    }, 500)
   

</script>
